<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Vue: Compute</title>
<style>
	.color-red { color: red; }
	.is-loading { background: green; }
</style>
</head>
<body>

<div id="root">
<h2>All Tasks</h2>
<ul>
	<li v-for="task in tasks" v-text="task.description"></li>
</ul>

<h2>Incomplete Tasks</h2>
<ul>
	<li v-for="task in incompleteTasks" v-text="task.description"></li>
</ul>
</div>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

var app = new Vue({
	el: '#root',
	data: { 
		tasks: [
		{ description: 'study', completed: true },
		{ description: 'sleep', completed: true },
		{ description: 'walk', completed: false },
		{ description: 'talk', completed: false },
		{ description: 'sit', completed: true },
		{ description: 'read', completed: true }
		]
	},
	computed: {
		incompleteTasks() {
			return this.tasks.filter(task => task.completed);
		}
	}
});
		

</script>
</body>
</html>