#myListSearch li {			
	text-align:left;
	margin-left: 0px;	
	font: 10px serif; 
	height: 60px; 
	border: 1px solid red; /* Testing Purposes */	
} 
ul #myListSearch {
    list-style: none;
    width: 360px; 
    margin: 0 0; /* 0 auto */
    text-align: left;
	border: 1px solid green; /* Testing Purposes */
} 
ul li a #myListSearch {
	border-bottom: 0px solid #e17b2d; 
    padding: 0px;
    overflow: hidden;
	font-size: 10px;
	margin-left: 0px;
	margin-bottom: 10px;
	margin-top: 0px;
}
ul li #myListSearch img {
    width: 52px;
    height: 52px;
    float: left;
    border: none;
}
ul li #myListText {	
    margin-left: 66px;
	margin-top: 2px;
    /* font-size: 10px;
    padding-left: 100px;
	margin-bottom: 0px;
    color:#6e7a7f; 
	width: 200px; */
}  
/* ul li p detail {
    margin-left: 75px;
    font-size: 8px;
    padding-top: 12px;
    color:#6e7a7f; 
	width: 200px;
} 
*/
nav {		
	display:inline-block;
	margin: 0px auto 45px; 	
	background-color:#4711AE; 
	width: 100%;
	/* box-shadow:0 1px 1px #ccc;		
	border-radius:2px; */
}
nav a {	
	display:inline-block;
	padding: 14px 30px;		
	color:#fff !important;		
	font-weight:bold;		
	font-size:16px;		
	text-decoration:none !important;		
	line-height:1;				
	/* text-transform: uppercase; */		
	background-color:transparent;		
	-webkit-transition:background-color 0.25s;		
	-moz-transition:background-color 0.25s;		
	transition:background-color 0.25s;	
}
nav a:first-child {		
	border-radius:2px 0 0 2px;	
}
nav a:last-child {		
	border-radius:0 2px 2px 0;	
}
nav.home .home,
	nav.writings .writings,
	nav.taskers .taskers,
	nav.contact .contact {		
	background-color: #FFC840;
	border: 0px solid red; 
}
